body {
    background-color: azure;

}
p{
    font-family: Montserrat;
    font-size: 14 px; 
}
#wlcm, .d1, .d2{
    text-align:center; 
    font-size: 14 px;
}
#wlcm{
    text-align:center;
}
.alink{
    text-decoration:none;
    color:black;
}

th, td, tr{
    border:2px solid black;
}